@model IEnumerable<ASLBarcoding.Models.Sample>

@{
    ViewBag.Title = "Sample List";
}

<h2>Sample List</h2>

@*<p>
    @Html.ActionLink("Create New", "Create")
</p>*@
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Request.ID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Request.WorkorderNo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SampleNo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Barcode)
        </th>
        @*<th>
            @Html.DisplayNameFor(model => model.BarcodeImageUrl)
        </th>*@

        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Request.ID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Request.WorkorderNo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SampleNo)
        </td>
        <td>
            @if (item.BarcodeImageUrl != null)
            {
                var imageUrl = Convert.ToBase64String((byte[])item.BarcodeImageUrl);
                <img src="data:image/jpg;base64,@imageUrl" />
            }
        </td>

        @*<td>
            @Html.DisplayFor(modelItem => item.BarcodeImageUrl)
        </td>*@

        <td>
            @*@Html.ActionLink("Print", "Edit", new { id=item.ID })  |*@
            @Html.ActionLink("Details", "Details", new { id=item.ID }) 
    @*|
    @Html.ActionLink("Delete", "Delete", new { id=item.ID })*@
        </td>
    </tr>
}

</table>
